{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <img src="{{STATIC_URL}}imgs/page_15_img.png" width="100%">
            </div>
            <div class="col-md-6">
                <p>Example II:</p>
                <p>A person A is asked:</p>
                <p>
                   What is the minimum (and equal) amount x where you would switch
                    from the left allocation to the right allocation?
                </p>
                <p>Maximum x: <strong>6</strong>.</p>
                <p>Payoffs:</p>
                <p>
                    The person A decided that the minimum (and equal) amount x where
                    he/she would would switch from left to right is GHC 6.
                    The purple line on the right indicates the switching point at x=6.
                    From there on, person A always prefers equal outcomes over the money
                    allocation on the left.
                </p>
                <p>
                    The computer randomly picks one decision for payment.
                    Let us assume the computer picks decision 5.
                    The payoff for person A is GHC 8 and the payoff for person
                    B is GHC 0 for this decision.
                </p>
            </div>
        </div>
    </div>
</div>
{% next_button %}
{% endblock %}