{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            We have finished the instructions for this subsection.
        </p>
        <p>
            We now move on to the control questions.
        </p>
        <p>
            If you like to read the instructions again, you can go back to the preceding pages.
        </p>
        <p>
            Please press ok as soon as you are ready to start with the control questions.
        </p>
    </div>
</div>
{% next_button %}
{% endblock %}