{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            We start now with the instructions for section 1a. In this section,
            you will be paired with one other participant in the room.
        </p>
        <p>
            In this section, you will be paired with one other participant in the room.
        </p>
        <p>
            You will not learn who this other participant is and the participant you are matched
            with will not learn who you are.
        </p>
        <p>
            You make your decisions with "coins" whereas <h4><strong>1 coin = GHC 0.05.</strong></h4>
        </p>
    </div>
</div>
<p><strong>Please click "Next" to continue</strong></p>
{% next_button %}
{% endblock %}


