{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            You will be presented a series of decisions like this one:
        </p>
        {% formfield player.ctrl_p5_qn_1_1a with label="your decision" %}
        <img src="{{STATIC_URL}}imgs/page_7_img.png" width="100%">
        <p>
            Each of the middle lines determines how much person A and person B receives.
            Looking at the first middle line, person A (that is you if you are selected into this role)
            receives 50 coins and person B (that is the person you are matched with) receives 100 coins.
            As we move to the right, the payment for the person in role A increases to 54, 59 up to 85.
            The payment of participant B decreases from 100 to 15 at the same time.
        </p>
        <p>
            The task of the person in role A is to decide on the preferred allocation by marking one of nine money allocations.
            The marked distribution will determine the payments of the person in role A and the person in role B.
        </p>
        <p>
            Only one distribution can be marked in each question.
        </p>
        <p>
            On the next slide, we will give you an example of how such a decision can look like.
        </p>
    </div>
</div>
{% next_button %}
{% endblock %}


